main {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
  }

  

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left .fa-solid {
    position: absolute;
    color: #00004B;
    margin: 20px;
}

.left h4 {
    font-size: large;
}

.fa-solid, .fas {
    font-size: 1.5rem;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vw;
    width: 80vw;
    background: white;
    border-radius: 15px;
    margin: 30px 0px;
}

.left form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c1 {
    display: flex;
    align-items: center;
}

.c1 h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 10px;
}

.c1 .link {
    color:black;
    text-decoration: none;
}

.c1 .link:hover {
    cursor: pointer;
    color:#00004B;
}


.f1 {
    margin: 20px 30px;
}

.f1 h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #00004B;
}

.f1 input {
    border: solid 0.08rem #00004B;
    width: 45vw;
}

.content {
    height: 15vw;
    width: 45vw;
    border: solid 0.08rem #00004B;
}
  

.btn-primary {
    background-color: #00004B;
    border-radius: 20px;
    border: none;
    /* width: 5vw; */
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


@media screen and (max-width: 1200px) {

    .fa-solid, .fas {
        font-size: 1rem;
    }

}

@media screen and (max-width: 768px) {
   
    .c1 h3 {
        font-size: large;
    }
}

@media screen and (max-width: 450px) {

    main {
        flex-direction: column;
        height: auto;
    }
   
    .c1 h3 {
        font-size: large;
    }
  
    .f1 input {
        width: 70vw;
    }
    .f1 textarea {
        width: 70vw;
        height: 50vw;
    }
}