.search-ipt {
    width: 30vw;
}
.topC1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
}

.topC1 ul .active {
    border-bottom: 2px #159A9A solid; 
    /* padding-bottom:5px;  */
}

.topC1 ul a:hover {
    color: #159A9A; 
}

.topC1 ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}

.topC1 ul button {
    border: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: black;
    font-size: 1vw;
}

.topC1 ul button:hover {
    color: #159A9A;
}

.type-tab li {
    margin: 0 1rem;
}

.search {
    width: 80%;
    margin-left: 1rem;
}

.project {
    margin: 10px 50px;
    background: white;
    border-radius: 15px;
    display: flex;
}

.L {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectC {
    display: flex;
    flex-direction: column;
    background: #F1F1F1;
    height: 100vh;
}

#carousel2 {
    width: 25vw;
    margin: 0px 30px;
    height: 18vw;
    margin-top: 20px;
}

#carousel2 img {
    width: 25vw;
    height: 15vw;
    object-fit: fill;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    transform: translate(0px, -12vw);
}

.owl-nav button{
    color: #CEF2F2!important;
    font-size: 4rem!important;
}

.owl-nav button:hover{
    background: none!important;
}

.owl-dots {
    transform: translateY(-6vw);
}

.L h3{
    font-size: 1rem;
    font-weight: 300;
    margin: 15px;
    margin-bottom: 20px;
}

.L i {
    margin: 15px 0px;
    margin-bottom: 20px;
    color: #159A9A
}

.R {
    margin: 15px;
    width: 60vw;
}

.R h1 {
    font-size: 2rem;
    font-weight: 500;
}

.R p {
    font-size: 1.2rem;
    font-weight: 300;
}

.p-md-4 .w-100{
    /* width: 25vw !important; */
    height: 25vw;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .search-ipt {
        width: 60vw;
    }

    .project {
        flex-direction: column;
    }

    .p-md-4 .w-100{
        /* width: 25vw !important; */
        height: 35vw;
    }

    .projectC {
        height: 80vh;
    }

}

@media screen and (max-width: 450px) {

    .projectC {
        height: auto;
    }

    .topC1 ul button {
        font-size: 4vw;
    }

    .topC1 {
        margin-left: 0;
    }
}